@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
   background: #FBF9EE;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
    .clip-path-custom {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
    .clip-path-custom-2 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
      }
    .clip-path-custom-3 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
      }
  }


  
.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}